.nav{
    color:white;
    text-decoration: none;
    font-size: 20px;
    padding:12px;
    margin:6px;
}
/* .carousel-design{
    display:inline;
    grid-template-columns: repeat(2,1fr);
} */
/* .styles{
    text-align: left;
    margin-left: -620px;
    margin-top: 20px;
} */